In [1]:
#Loop answer basic level

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num

print("Sum:", total)

Sum: 15

In [5]:
text = "Hello, diwaklar!"
for char in reversed(text):
    print(char)

!
r
a
l
k
a
w
i
d

,
o
l
l
e
H

In [6]:
n = 5
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print(f"Factorial of {n} is {factorial}")

Factorial of 5 is 120

In [7]:
n = 7
for i in range(1, 11):
    result = n * i
    print(f"{n} x {i} = {result}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Even numbers: {even_count}")
print(f"Odd numbers: {odd_count}")

Even numbers: 4
Odd numbers: 5

In [9]:
for i in range(1, 6):
    square = i * i
    print(f"The square of {i} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [11]:
text = "Hello, diwakar chauhan!"
length = 0

for char in text:
    length += 1

print("Length:", length)

Length: 23

In [12]:
numbers = [10, 20, 30, 40, 50]
total = 0

for num in numbers:
    total += num

average = total / len(numbers)
print("Average:", average)

Average: 30.0

In [13]:
n = 10
a, b = 0, 1

for _ in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

In [14]:
#Intermediate Level

In [16]:
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

my_list = [1, 2, 3, 4, 2, 5]
if has_duplicates(my_list):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [17]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

start_range = 1
end_range = 20

print("Prime numbers in the range", start_range, "to", end_range, "are:")
for num in range(start_range, end_range + 1):
    if is_prime(num):
        print(num)

Prime numbers in the range 1 to 20 are:
2
3
5
7
11
13
17
19

In [19]:
text = "Hello, World,how are you!"
vowels = "AEIOUaeiou"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 8

In [20]:
matrix = [
    [1, 2, 3],
    [4, 9, 6],
    [7, 8, 5]
]

max_element = matrix[0][0]

for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print("Maximum element:", max_element)

Maximum element: 9

In [22]:
my_list = [1, 2, 3, 2, 4, 5, 2]
element_to_remove = 2

new_list = [item for item in my_list if item != element_to_remove]

print("Original List:", my_list)
print("List after removing", element_to_remove, ":", new_list)

Original List: [1, 2, 3, 2, 4, 5, 2]
List after removing 2 : [1, 3, 4, 5]

In [23]:
for i in range(1, 6):
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")
    print()  # Add a blank line between tables

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
fahrenheit_temperatures = [32, 68, 100, 212]
celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)

print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 100, 212]
Celsius Temperatures: [0.0, 20.0, 37.77777777777778, 100.0]

In [26]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common Elements:", common_elements)

Common Elements: [3, 4, 5]

In [28]:
rows = 5

for i in range(1, rows + 1):
    for j in range(i):
        print("diwakar", end=" ")
    print()

diwakar
diwakar diwakar
diwakar diwakar diwakar
diwakar diwakar diwakar diwakar
diwakar diwakar diwakar diwakar diwakar

In [29]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 48
num2 = 36

result = gcd(num1, num2)
print("GCD of", num1, "and", num2, "is", result)

GCD of 48 and 36 is 12

In [30]:
#Advanced Level

In [31]:
numbers = [123, 45, 678]
digit_sum = [sum(map(int, str(num))) for num in numbers]
print("Sum of digits in each number:", digit_sum)

Sum of digits in each number: [6, 9, 21]

In [32]:
def prime_factors(n):
    factors = [x for x in range(2, n + 1) if n % x == 0]
    prime_factors = [x for x in factors if all(x % i != 0 for i in range(2, x))]
    return prime_factors

number = 36
factors = prime_factors(number)
print(f"Prime factors of {number}: {factors}")

Prime factors of 36: [2, 3]

In [33]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = [x for i, x in enumerate(original_list) if x not in original_list[:i]]
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5]

In [34]:
limit = 100
palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]
print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 100 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [35]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_sum = sum([x for x in numbers if x % 2 == 0])
odd_sum = sum([x for x in numbers if x % 2 != 0])
print("Sum of even numbers:", even_sum)
print("Sum of odd numbers:", odd_sum)

Sum of even numbers: 20
Sum of odd numbers: 25

In [37]:
squares_of_odd_numbers = [x**2 for x in range(1, 11) if x % 2 != 0]
print("Squares of odd numbers:", squares_of_odd_numbers)

Squares of odd numbers: [1, 9, 25, 49, 81]

In [38]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {k: v for k, v in zip(keys, values)}
print("Combined dictionary:", my_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [40]:
text = "Hello, chauhan ji!"
vowels = [char for char in text if char.lower() in 'aeiou']
print("Vowels in the string:", vowels)

Vowels in the string: ['e', 'o', 'a', 'u', 'a', 'i']

In [41]:
strings = ["123", "abc", "456", "def", "789"]
numeric_strings = [s for s in strings if s.isdigit()]
print("Numeric strings:", numeric_strings)

Numeric strings: ['123', '456', '789']

In [42]:
#Challenge Level

In [43]:
def sieve_eratosthenes(n):
    sieve = [True] * (n + 1)
    sieve[0] = sieve[1] = False
    
    for i in range(2, int(n**0.5) + 1):
        if sieve[i]:
            for j in range(i * i, n + 1, i):
                sieve[j] = False
    
    primes = [i for i in range(2, n + 1) if sieve[i]]
    return primes

limit = 50
prime_numbers = sieve_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Prime numbers up to 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [44]:
def find_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1)
                for b in range(a, limit + 1)
                for c in range(b, limit + 1)
                if a**2 + b**2 == c**2]
    return triplets

limit = 20
pythagorean_triplets = find_pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, "are:", pythagorean_triplets)

Pythagorean triplets up to 20 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [45]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print("All possible combinations:", combinations)

All possible combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [46]:
import statistics

numbers = [2, 3, 3, 5, 7, 9, 10, 11]
mean = statistics.mean(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 6.25
Median: 6.0
Mode: 3

In [47]:
def generate_pascals_triangle(n):
    triangle = [[1]]
    for i in range(1, n):
        row = [1]
        prev_row = triangle[i - 1]
        for j in range(1, i):
            row.append(prev_row[j - 1] + prev_row[j])
        row.append(1)
        triangle.append(row)
    return triangle

num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [48]:
import math

factorial_sums = [sum(map(int, str(math.factorial(n)))) for n in range(1, 6)]
print("Sum of digits of factorials:", factorial_sums)

Sum of digits of factorials: [1, 2, 6, 6, 3]

In [50]:
sentence = "This is a sample sentence with some long words,which can be form."
words = sentence.split()
longest_word = max(words, key=lambda word: len(word))
print("Longest word:", longest_word)

Longest word: words,which

In [51]:
strings = ["apple", "banana", "cherry", "grapefruit", "kiwi"]
filtered_strings = [s for s in strings if sum(1 for char in s if char.lower() in 'aeiou') > 3]
print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: ['grapefruit']

In [52]:
digit_sums = [sum(map(int, str(num))) for num in range(1, 1001)]
print("Sum of digits for numbers from 1 to 1000:", digit_sums)

Sum of digits for numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [53]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]

prime_palindromes = [num for num in range(1, 1001) if is_prime(num) and is_palindrome(num)]
print("Prime palindromic numbers up to 1000:", prime_palindromes)

Prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]